body{
    font-family: Arial;
    background:#f4f4f4;
}

.container{
    width:350px;
    margin:50px auto;
    background:maroon;
    padding:20px;
    border-radius:10px;
    
}
input::placeholder{
    color:black
}
input{
    width:100%;
    padding:5px;
    margin:10px 0px;
    background-color: rgb(250, 246, 246);

    font-size: 20px;
}

button{
    width:100%;
    padding:10px 10px;
    cursor:pointer;
    background-color: grey;
}

li{
    display:flex;
    justify-content:space-between;
    margin:10px 0;
}